.featuredRowContainer {
  position: relative;
  top: 195px;
  -webkit-transform: translate3d(-307.5px, 0px, 0px);
  -webkit-transition-duration:0.500s;
  -webkit-transition(all 500ms cubic-bezier(0.86, 0, 0.07, 1));
}
.featuredRowItem {
  margin-right: 20px;
  width: 825px;
  height: 464px;
}
.fixedFocusBorder {
  position: absolute;
  top: 205px;
  left: 548px;
  outline: 8px solid #ba3a23;
  outline-offset: 0px;
  height: 460px;
  width: 820px;
  z-index: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -webkit-transition-duration:0.500s;
  -webkit-transition(all 500ms cubic-bezier(0.86, 0, 0.07, 1));
}
